@import "src/styles/colors.module";
@import "src/styles/mixins.module";

.addChatBtn {
  @include gray-input;

  background-color: $gray-ef;
  border-radius: 5px;
  color: $gray;
  height: fit-content;
  width: auto;
  line-height: 4vh;
  margin: 0 1.4vh 1.4vh;

  &::placeholder {
    text-align: left;
  }
}

.container {
  @include page-container;
}

.chatContent {
  width: 75vw;
  height: 100vh;
}

.emptyContent {
  @include list-column;
  @include gray-color;

  width: 100%;
  height: 100%;
  justify-content: center;
}

.chatsList {
  @include list-column;
  @include transparent-scroll;

  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.chatItemSelected {
  background-color: $light-blue;
}

.chatItem, .chatItemSelected {
  width: 100%;
  padding: 0 1.4vh;

  a {
    @include nav-item-with;

    height: 9.3vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $gray-ea;
  }

  &:first-child {
    a {
      border-top: 1px solid $gray-ea;
    }
  }
}

.inputField {
  position: relative;
  width: 90%;
  line-height: 3.5vh;
  border-bottom: 1px solid #3369F3;
  padding: 0 1vw;
  color: $black;

  &::placeholder {
    @include gray-color;
  }
}

.nav {
  @include flex-center;

  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background-color: $gray-fb;
  padding: 1.4vh 0;
}
