@import "src/styles/colors.module";
@import "src/styles/mixins.module";

.form {
  @include list-column;

  height: inherit;
  margin: 0;
}

.userInfoList {
  margin-top: 13.5vh;
  width: 100%;
}

.userInfoListItem {
  @include flex-row;

  border-bottom: 1px solid $gray-ea;
  line-height: 4.5vh;
  justify-content: space-between;
  position: relative;
  width: 100%;

  &:last-child {
    border: none;
  }
}

.infoValue, .infoValueError {
  @include input-chat-profile;
}

.infoValueError {
  @include input-chat-profile-fail;
}

.editBtn, .logoutBtn {
  color: $dark-blue;
  line-height: 4.5vh;
}

.logoutBtn {
  @include red-color;
}

.saveBtn {
  @include blue-half-btn;

  margin: 8.3vh auto 0;
}

.textError {
  @include error-text-profile-chat;
}
