@import "src/styles/mixins.module";
@import "src/styles/colors.module";

.errorBlockStyle {
  background-color: $pink;
  padding: 2vh;
  display: grid;
  border-radius: 12px;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20000;
}

.errorTextStyle {
  @include gray-color;
}
