$black: #1E1E1E;
$lightBlue: #D3EAFF;
$blue: #0085FF;
$darkblue: #3369F3;
$lightblue: #E4EDFD;
$red: #FF2F2F;
$whiteLightness: 100%;
$white: hsl(0, 0%, $whiteLightness);
$grayE5: #e5e5e5;
$grayF8: #f8f8f8;
$grayEA: #eaeaea;
$grayEF: #efefef;
$grayFB: #FBFBFB;
$gray: #999;


:export {
  black:$black;
  lightBlue: $lightBlue;
  blue: $blue;
  darkblue:$darkblue;
  red:$red;
  whiteLightness: $whiteLightness;
  white: $white;
  grayE5: $grayE5;
  grayEA: $grayEA;
  grayEF: $grayEF;
  grayFB: $grayFB;
  gray: $gray;
  grayF8: $grayF8;
  lightblue: $lightblue;
}