$black: #1E1E1E;
$light-blue: #D3EAFF;
$blue: #0085FF;
$dark-blue: #3369F3;
$light-blue: #E4EDFD;
$red: #FF2F2F;
$pink: #ffbbc6;
$white-lightness: 100%;
$white: hsl(0deg, 0%, $white-lightness);
$gray-e5: #e5e5e5;
$gray-f8: #f8f8f8;
$gray-f5: #f5f5f5;
$gray-ea: #eaeaea;
$gray-ef: #efefef;
$gray-fb: #FBFBFB;
$gray: #999;
