@import "src/styles/colors.module";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

@mixin list-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  margin: 0 0 auto;
}

@mixin flex-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin nav-item-with {
  padding: 1.4vh 0;
  margin: 0;
}

@mixin title-h3 {
  text-align: center;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 4.4vh;
}

@mixin gray-color {
  color: $gray;
  -webkit-text-fill-color: $gray
}

@mixin red-color {
  color: $red;
  -webkit-text-fill-color: $red
}

@mixin absolute-top-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin transparent-scroll {
  &::-webkit-scrollbar {
    padding-left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    z-index: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    z-index: 0;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
    z-index: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    z-index: 0;
  }
}

@mixin avatar {
  @include flex-center;

  height: 6.5vh;
  width: 6.5vh;
  border-radius: 50%;
  align-items: center;
  margin-right: 1.1vh;

  span {
    color: $white;
  }
}

@mixin gray-input {
  width: 100%;
  height: 100%;
  padding: 0 3vw;
  color: $black;
  position: relative;

  &::placeholder {
    @include gray-color;

    text-align: center;
  }
}

@mixin blue-half-btn {
  background-color: $dark-blue;
  border-radius: 8px;
  color: $white;
  line-height: 5vh;
  text-align: center;
  width: 50%;
}

@mixin page-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
  background-color: $white;
}

@mixin input-chat-profile {
  @include gray-color;

  text-align: right;
  width: auto;
  line-height: inherit;
  z-index: 1000;

  &::placeholder {
    @include gray-color;

    text-align: right;
  }
}

@mixin input-chat-profile-fail {
  @include red-color;

  text-align: right;
  border-bottom: none;

  &::placeholder {
    @include gray-color;
  }
}

@mixin error-text-profile-chat {
  @include red-color;

  z-index: 900;
  font-size: 1vh;
  position: absolute;
  right: 0;
  top: 35%;
}
