@import "src/styles/mixins.module";
@import "src/styles/colors.module";

.chatContentEmpty {
  @include flexCenter();
  flex-direction: column;
}
.code {
  font-size: 8vh;
  text-align: center;
}

.link {
  display: block;
  font-size: 1.4vh;
  text-align: center;
  color: $darkblue;
  width: inherit;
}
