@import "src/styles/mixins.module";
@import "src/styles/colors.module";

.content {
  @include flex-center;

  flex-direction: column;
}

.code {
  font-size: 8vh;
  text-align: center;
}

.link {
  display: block;
  font-size: 1.4vh;
  text-align: center;
  color: $dark-blue;
  width: inherit;
}
