@import "src/styles/colors.module";
@import "src/styles/mixins.module";

.nav {
  @include flexCenter();
  align-items: center;
  background-color: $grayFB;
  width: 5vw;
}

.profile {
  @include pageContainer();
}

.profileContent {
  @include flexCenter();
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
}

.arrowBtn {
  background: center url("../../client/public/arrow.png") no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}