@import "src/styles/colors.module";
@import "src/styles/mixins.module";

.chatMessageRight, .chatMessageLeft {
  max-width: 32vw;
  background-color: $gray-f8;
  padding: 1.7vh;
  position: relative;
  border-radius: 1em;
}

.chatMessageRight {
  align-self: flex-end;
}

.chatMessageLeft {
  align-self: flex-start;
}

.messageContent {
  font-size: 1.8vh;
}

.time {
  line-height: 1.9vh;
  color: $gray;
  font-size: 1.2vh;
  position: absolute;
  bottom: 0.3vh;
  right: 6%;
}
